<div class="navigation container">
  <ul>
    <%if (info.prev) { %>
    <a href="<%= ref %>page=<%= info.prev %>" class="active">
      <li class="arrow">
        <i class='bx bx-chevron-left'></i>
      </li>
    </a>
    <% } %>



    <% info.nav.forEach(function(i) { %> 
      <% if (info.page == i ) { %>
        <a href="<%= ref %>page=<%= i %> " class="active">
          <li>
            <%= i %>
          </li>
        </a>
      <% }else{ %>
        <a href="<%= ref %>page=<%= i %> ">
          <li>
            <%= i %>
          </li>
        </a>
      <% } %> 
    <% }); %> 
    
    <%if (info.next) { %>
      <a href="<%= ref %>page=<%= info.next %>" class="active">
        <li class="arrow">
          <i class='bx bx-chevron-right'></i>
        </li>
      </a>
    <% } %>
  </ul>
</div>
