<% if (typeof posts !== 'undefined' && posts.length > 0) { %>
<main class="container-posts">

  <section class="article-container">
    <% posts.forEach(function(post) { %>
    <article class="post">
      <div class="post-header">
        <i class="bx bxs-calendar-event"></i>
        <span><%= formatDate(post.createdAt); %></span>
        <i class="bx bx-alarm"></i>
        <span><%= post.min %> min read</span>
      </div>
      <div class="post-body">
        <h3><%= post.title %></h3>
        <p><%= post.description %></p>
      </div>
      <div class="post-footer">
        <div class="user">
          <i class="bx bx-user-circle"></i>
          <p>by <span><%= post.author.author %></span></p>
        </div>
        <div class="tags">
          <% post.tags.forEach(function(tag) { %>
          <i class='bx bxs-purchase-tag'></i>
          <a href="/posts?tag=<%= tag %>"><%= tag %></a>
          <% }); %>
        </div>
      </div>
    </article>
    <% }); %>
  </section>
</main>

<%- include('navigation', {info, ref}) %> 

<% }else { %> 
    <%- include('error') %> 
<% } %>
