<%- include('includes/header') %>

<%- include('includes/title-nav', {title: "categories", links: [
  {name: "home",ref: "/"},
  {name: "categories",ref: "/categories"}
]}) %>

<% if (typeof categories !== 'undefined' && categories.length > 0) { %>
<main class="container container-category">
  <div class="cards-category">
    <% categories.forEach(function(category) { %>
        <a href="/categories<%= category.link %>">
        <div class="card-category">
            <h3><%= category.name %></h3>
            <div class="icon-category">
            <i class="<%= category.icon %>"></i>
            </div>
        </div>
        </a>
    <% }); %>
  </div>
</main>
<% }else { %> 
    <%- include('./includes/error.ejs') %> 
<% } %> 
<%- include('includes/footer') %>

