<%- include('./includes/header.ejs') %>
<%- include('includes/title-nav', {
  title: "create post",
  links: [
    {name: "home",ref: "/"},
    {name:"create",ref:"/create-post"} 
   ] 
}) %>

<main class="container">
  <div class="create-post">
    <form action="/create-post" method="post">
      <div class="form-field">
        <label for="title">Title :</label>
        <input
          required
          type="text"
          placeholder="Enter a title"
          id="title"
          name="title"
        />
      </div>
      <div class="form-field">
        <label for="description">Description :</label>
        <input
          required
          type="text"
          placeholder="Enter a description"
          id="description"
          name="description"
        />
      </div>
      <div class="form-field select">
        <label for="category">Choose a category:</label>
        <select name="category" id="category" required>
          <option value="" selected disabled>-- select a category --</option>
          <% categories.forEach( category => { %>
          <option value="<%- category.name %>"><%- category.name %></option>
          <% }) %>
        </select>
      </div>
      <div class="form-field select">
        <label for="author">Choose an author:</label>
        <select name="author" id="author" required>
          <option value="" selected disabled>-- select an author --</option>
          <% authors.forEach( author => { %>
          <option value="<%- author._id %>"><%- author.author %></option>
          <% }) %>
        </select>
      </div>

      <div class="form-field">
        <h4>Tags:</h4>
        <div class="form-tags">
          <% tags.forEach(tag => { %>
          <span>
            <input
              type="checkbox"
              id="<%= tag.name %>"
              name="tags"
              value="<%= tag.name %>"
            />
            <label for="<%= tag.name %>"><%= tag.name %></label>
          </span>
          <% }) %>
        </div>
      </div>

      <div class="form-field min">
        <label for="min" id="min">Min of read:</label>
        <input
          required
          type="number"
          id="min"
          name="min"
          min="1"
          max="60"
          placeholder="5"
        />
      </div>

      <div class="form-field">
        <label for="markdown">Markdown :</label>
        <textarea
          required
          name="markdown"
          id="markdown"
          cols="30"
          rows="10"
          placeholder="Enter a markdown sintax"
        ></textarea>
      </div>

      <button class="btn">Submit</button>
    </form>
  </div>
</main>

<%- include('./includes/footer.ejs') %>
