<%- include('./includes/header.ejs') %>

<aside class="container">
  <ul class="aside">
    <% categories.forEach(function(category) { %>
      <li>
        <a href=<%= category.link %>><i class="<%= category.icon %>"></i><%= category.name %> </a>
      </li>
    <% }); %>
  </ul>
</aside>

<div class="title-container">
  <div class="title">
    <h3>lastest update</h3>
  </div>
  <div class="nav-title">
    <p class="active">Home</p>
  </div>
</div>


<main class="container">
  <section class="article-container">
    <article class="post">
      <div class="post-header">
        <i class="bx bxs-calendar-event"></i>
        <span><%= formatDate(posts[0].createdAt); %></span>
        <i class="bx bx-alarm"></i>
        <span><%= posts[0].min %>  min read</span>
      </div>
      <div class="post-body">
        <h3><%= posts[0].title %></h3>
        <p>
          <%= posts[0].description %>
        </p>
      </div>
      <div class="post-footer">
        <div class="user">
          <i class="bx bx-user-circle"></i>
          <p>by <span><%= posts[0].author %></span></p>
        </div>
        <div class="tags">
          <% posts[0].tags.forEach(function(tag) { %>
            <i class="bx bx-purchase-tag"></i>
            <span><%= tag %> </span>
          <% }); %>
        </div>
      </div>
    </article>

    <article class="post">
      <div class="post-header">
        <i class="bx bxs-calendar-event"></i>
        <span><%= formatDate(posts[0].createdAt); %></span>
        <i class="bx bx-alarm"></i>
        <span><%= posts[0].min %>  min read</span>
      </div>
      <div class="post-body">
        <h3><%= posts[0].title %></h3>
        <p>
          <%= posts[0].description %>
        </p>
      </div>
      <div class="post-footer">
        <div class="user">
          <i class="bx bx-user-circle"></i>
          <p>by <span><%= posts[0].author %></span></p>
        </div>
        <div class="tags">
          <% posts[0].tags.forEach(function(tag) { %>
            <i class="bx bx-purchase-tag"></i>
            <span><%= tag %> </span>
          <% }); %>
        </div>
      </div>
    </article>

    <article class="post">
      <div class="post-header">
        <i class="bx bxs-calendar-event"></i>
        <span>Dec 5, 2021 </span>
        <i class="bx bx-alarm"></i>
        <span>01 min read</span>
      </div>
      <div class="post-body">
        <h3>The AGI hype train is running out of steam While</h3>
        <p>
          While futurists and fundraisers used to make bullish predictions
          about artificial general intelligence, they’ve become quieter
          lately. Peter Thiel...
        </p>
      </div>
      <div class="post-footer">
        <div class="user">
          <i class="bx bx-user-circle"></i>
          <p>by <span>Thomas</span></p>
        </div>
        <div class="tags">
          <i class="bx bx-purchase-tag"></i>
          <span>anime</span>
          <i class="bx bx-purchase-tag"></i>
          <span>games</span>
        </div>
      </div>
    </article>

    <article class="post">
      <div class="post-header">
        <i class="bx bxs-calendar-event"></i>
        <span>Dec 5, 2021 </span>
        <i class="bx bx-alarm"></i>
        <span>01 min read</span>
      </div>
      <div class="post-body">
        <h3>The AGI hype train is running out of steam While</h3>
        <p>
          While futurists and fundraisers used to make bullish predictions
          about artificial general intelligence, they’ve become quieter
          lately. Peter Thiel...
        </p>
      </div>
      <div class="post-footer">
        <div class="user">
          <i class="bx bx-user-circle"></i>
          <p>by <span>Thomas</span></p>
        </div>
        <div class="tags">
          <i class="bx bx-purchase-tag"></i>
          <span>anime</span>
          <i class="bx bx-purchase-tag"></i>
          <span>games</span>
        </div>
      </div>
    </article>
  </section>
</main>


<div class="navigation container">
  <ul>
    <li><i class="bx bx-chevron-left-circle"></i></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li class="active"><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">6</a></li>
    <li><i class="bx bx-chevron-right-circle"></i></li>
  </ul>
</div>


<%- include('./includes/footer.ejs') %>
