<%- include('./includes/header.ejs') %>

<aside class="container">
  <ul class="aside">
    <% categories.forEach(function(category) { %>
      <li>
        <a href=<%= category.link %>><i class="<%= category.icon %>"></i><%= category.name %> </a>
      </li>
    <% }); %>
  </ul>
</aside>

<div class="title-container">
  <div class="title">
    <h3>lastest update</h3>
  </div>
  <div class="nav-title">
    <p class="active">Home</p>
  </div>
</div>

<% if (typeof posts !== 'undefined' && posts.length > 0) { %>
  <main class="container">
    <section class="article-container">
    
        <% posts.forEach(function(post) { %>
          <article class="post">
            <div class="post-header">
              <i class="bx bxs-calendar-event"></i>
              <span><%= formatDate(post.createdAt); %></span>
              <i class="bx bx-alarm"></i>
              <span><%= post.min %>  min read</span>
            </div>
            <div class="post-body">
              <h3><%= post.title %></h3>
              <p>
                <%= post.description %>
              </p>
            </div>
            <div class="post-footer">
              <div class="user">
                <i class="bx bx-user-circle"></i>
                <p>by <span><%= post.author.author %></span></p>
              </div>
              <div class="tags">
                <% post.tags.forEach(function(tag) { %>
                  <i class="bx bx-purchase-tag"></i>
                  <span><%= tag %> </span>
                <% }); %>
              </div>
            </div>
          </article>
        <% }); %>
    
      </section>
  </main>
<% }else { %>
  <%- include('./includes/error.ejs') %> 
<% } %>



<div class="navigation container">
  <ul>
    <%if (info.prev) { %>
      <li class="arrow"><a href='/?page=<%= info.prev %>'><i class="bx bx-chevron-left-circle"></i></a></li>
    <% } %>

    <% info.nav.forEach(function(i) { %>
      <% if (info.page == i ) { %>
        <li class="active"><a href="/?page=<%= i %> "><%= i %></a></li>
      <% }else{ %>
        <li><a href="/?page=<%= i %> "><%= i %></a></li>
      <% } %>
    <% }); %>
    
    <%if (info.next) { %>
      <li class="arrow"><a href='/?page=<%= info.next %>'><i class="bx bx-chevron-right-circle"></i></a></li>
    <% } %>
  </ul>
</div>


<%- include('./includes/footer.ejs') %>
