<%- include('includes/header') %> 

<%- include('includes/title-nav', {title: post.title, links:[
  {name:"home", ref:"/"},
  {name:"posts", ref:"/posts"},
  {name:post.title, ref:"/"}
]}) %> 

<main class="single-container container">
    <div class="single-header">
      <h3>The AGI hype train is running out of steam</h3>
      <div class="single-info">
        <div class="user">
          <i class="bx bx-user-circle"></i>
          <p>by <a href="/author/<%= post.author._id %>"><%= post.author.author %></a></p>
        </div>
        <div class="info">
          <i class="bx bxs-calendar-event"></i>
          <span><%= formatDate(post.createdAt); %> </span>
          <i class="bx bx-alarm"></i>
          <span><%= post.min %> min read</span>
        </div>
      </div>
    </div>
    <div class="single-body">
      <h3>The AGI hype train has hit some heavy traffic.</h3>
      <p>
        While futurists and fundraisers used to make bullish predictions about
        artificial general intelligence, they’ve become quieter lately. Peter
        Thiel — the tech billionaire and rumored vampire — says Silicon Valley
        big brains have lost enthusiasm for AGI.
      </p>
      <p>
        “Elon’s not talking about it anymore and Larry Page is off to Fiji and
        doesn’t seem to be working on it quite as hard,” Thiel said at a
        recent event.
      </p>
      <p>
        While futurists and fundraisers used to make bullish predictions about
        artificial general intelligence, they’ve become quieter lately. Peter
        Thiel — the tech billionaire and rumored vampire — says Silicon Valley
        big brains have lost enthusiasm for AGI.
      </p>
      <h3>IT is healing</h3>
      <p>
        Thiel described Musk as “a weathervane for the zeitgeist,” who’s
        stopped talking about AGI because interest has declined.
      </p>

      <div class="tags">
        <p>Tags:</p>
        <% post.tags.forEach(function(tag) { %>
          <i class='bx bxs-purchase-tag'></i>
          <a href="/posts?tag=<%= tag %>"><%= tag %></a>
        <% }); %>
      </div>
    </div>
    <div class="single-links">
      <p>Share</p>
      <ul class="links">
        <li>
          <a href="#"><i class="bx bxl-facebook-circle"></i></a>
        </li>
        <li>
          <a href="#"><i class="bx bxl-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="bx bxl-linkedin-square"></i> </a>
        </li>
        <li>
          <a href="#"><i class="bx bxl-reddit"></i></a>
        </li>
      </ul>
    </div>
    <div class="single-footer"></div>
  </main>

  
<%- include('./includes/footer.ejs') %> 