<%- include('includes/header') %> 

<%- include('includes/title-nav', {title: post.title, links:[
  {name:"home", ref:"/"},
  {name:"posts", ref:"/posts"},
  {name:post.title, ref:"/"}
]}) %> 

<main class="single-container container">
    <div class="single-header">
      <h3><%= post.title %> </h3>
      <div class="single-info">
        <div class="user">
          <i class="bx bx-user-circle"></i>
          <p>by <a href="/author/<%= post.author._id %>"><%= post.author.author %></a></p>
        </div>
        <div class="info">
          <i class="bx bxs-calendar-event"></i>
          <span><%= formatDate(post.createdAt); %> </span>
          <i class="bx bx-alarm"></i>
          <span><%= post.min %> min read</span>
        </div>
      </div>
    </div>
    <div class="single-body">
      
      <%- post.sanitizedHtml %>

      <div class="tags">
        <p>Tags:</p>
        <% post.tags.forEach(function(tag) { %>
          <i class='bx bxs-purchase-tag'></i>
          <a href="/posts?tag=<%= tag %>"><%= tag %></a>
        <% }); %>
      </div>
    </div>
    <div class="single-links">
      <p>Share</p>
      <ul class="links">
        <li>
          <a href="#"><i class="bx bxl-facebook-circle"></i></a>
        </li>
        <li>
          <a href="#"><i class="bx bxl-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="bx bxl-linkedin-square"></i> </a>
        </li>
        <li>
          <a href="#"><i class="bx bxl-reddit"></i></a>
        </li>
      </ul>
    </div>
    <div class="single-footer"></div>
  </main>

  
<%- include('./includes/footer.ejs') %> 